@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

.pixel {
  aspect-ratio : 1 / 1;
  width: 10%;
  display: inline-block;
  transition: ease 100ms;
  cursor: pointer;
}

.pixel:hover {
  outline: 1px solid black;
}

#canvas {
  width: 78%;
  border: 1px solid black;
  aspect-ratio : 1 / 1;
  display: inline-block;
  transition: ease 100ms;
}

body,html {
  height: 100%;
  width: 100%;
}

.sidebar {
  width: 19%;
  height: 97%;
  text-align: center;
  border: 2px solid black;
  margin-right: 10px;
  display: inline-block;
  float: right;
}

input {
  height: 16px;
}

* {scrollbar-width:none;font-family: "Inter", sans-serif;}
