@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

.pixel {
  aspect-ratio : 1 / 1;
  width: 10%;
  display: inline-block;
  transition: ease 100ms;
  cursor: pointer;
  animation: appear ease 100ms;
}

#canvas {
  width: 78%;
  border: 1px solid black;
  aspect-ratio : 1 / 1;
  display: inline-block;
  background: white;
  transition: ease 100ms;
  font-size: 0px;
}

#canvas:hover {
  .pixel {
   outline: 1px solid black;
  }
}

body,html {
  height: 100%;
  width: 100%;
  background: #3b3b3b;
}

.sidebar {
  width: 19%;
  height: 97%;
  text-align: center;
  background: #212121;
  color: white;
  border: 2px solid white;
  margin-right: 10px;
  display: inline-block;
  float: right;
}

input[type="color"] {
  height: 22px;
  background: none;
  border: none;
  padding: 0;
  width: 22px;
  border-radius: 0;
}

input,button,select {
  background: #3b3b3b;
  color: white;
  border: 1px solid white;
  border-radius: 5px;
  transition: ease 150ms;
}

input:hover,button:hover,select:hover {
  border-radius: 2px;
}

@keyframes appear {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

* {scrollbar-width:none;font-family: "Inter", sans-serif;}
